<div class="container mt-5 ">
  <div class="d-flex justify-content-center">
    <div class="card shadow-lg p-3 mb-5 bg-body rounded">
      <div class="card-body">
        <div class="row">
          <h3>{{actionText}} une filière</h3>
          <form (submit)="handleSubmit()" #f="ngForm" class="form-inline m-auto">
            <div class="form-group">
              <label class="pt-3" for="libelle">Libellé</label>
              <input 
                [(ngModel)]="filiere.libelle"
                required
                minlength="4"
                placeholder="Nom de la filière"
                name="libelle" 
                type="text" 
                class="form-control mt-4" />
            </div>
            <button 
              [disabled]="f.invalid"
              class="btn btn-primary mt-3">{{actionText}}</button>
          </form>
        </div>
        
      </div>
    </div>
  </div>
</div>
