<form (submit)="handleSubmit()" #f="ngForm">
    <div class="form-group pt-3">
        <label for="libelle" class="pb-3">Libellé de la formation</label>
        <input 
            class="form-control col-12" 
            type="text"
            [(ngModel)]="formation.libelle"
            required
            minlength="2"
            placeholder="Nom de la formation"
            name="libelle">
        <button 
            [disabled]="f.invalid"
            class="btn btn-warning mt-3">Créer une formation</button>
    </div>
</form>
<div class="pt-4">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Libellé</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let formation of formations">
          <td>{{ formation.id }}_{{ formation.libelle }}</td>
          <td class="d-flex justify-content-end">
            <button 
              type="button" 
              class="btn btn-danger"
              (click)="onDelete(formation.id)">
              Supprimer
            </button>
          </td>
        </tr>
      </tbody>
    </table>
</div>
