

<nav class="bg-light mb-4 shadow-lg rounded">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['']">Accueil</a>
    </li>
    <li class="nav-item" *ngIf="role == 'GESTIONNAIRE' || role == 'FORMATEUR'">
      <a class="nav-link" [routerLink]="['/filieres']">Filières</a>
    </li>
    <li class="nav-item" *ngIf="role != 'null'">
      <a class="nav-link" [routerLink]="['/modules']">Modules</a>
    </li>
    <li class="nav-item" *ngIf="role == 'GESTIONNAIRE'">
      <a class="nav-link" [routerLink]="['/gestionFormation']">Gestion des formations</a>
    </li>
    <li class="nav-item" *ngIf="role != 'null'">
      <a class="nav-link" [routerLink]="['/compte']">Profil</a>
    </li>
    <li class="nav-item" *ngIf="role != 'null'">
      <a class="nav-link" href="" (click)="logout()">Deconnexion</a>
    </li>
  </ul>
</nav>
<header class="mb-5">
  <img class="p-5" src="https://www.studi.com/sites/default/files/2021-08/logo_blanc_studi.svg" alt="">
  <img src="http://www.eduplay.fr/wp-content/uploads/2016/05/formation-professionnelle.png" alt="">
</header>




