<div class="container mt-5 ">
  <div class="d-flex justify-content-center">
    <div class="card shadow-lg p-3 mb-5 bg-body rounded">
      <div class="card-body">
        <div class="row">
          <div *ngIf="filiere">
            <h3>Filière {{ filiere.libelle }}</h3>

            <h4 class="pt-3">Modules</h4>
            <span *ngIf="filiere.modules?.length === 0">Aucun module renseigné pour le moment</span>
            <ul class="list-group list-group-flush pt-3" *ngIf="filiere.modules">
              <li class="list-group-item" *ngFor="let module of filiere.modules">
                <a [routerLink]="['/modules', module.id]">
                  {{ module.libelle }}
                </a>
              </li>
            </ul>

            <h4 class="pt-4 pb-3">Stagiaires</h4>
            <span *ngIf="filiere.stagiaires?.length === 0">Aucun stagiaire renseigné pour le moment</span>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>









