<form (submit)="handleSubmit()" #f="ngForm" >
    <div class="form-group pt-3 pb-3">
        <label for="libelle" class="pb-3">Libellé</label>
        <input
        [(ngModel)]="module.libelle"
        required
        minlength="3"
        class="form-control col-12"
        placeholder="Nom du module"
        type="text"
        name="libelle">
    </div>
    <div class="form-group">
        <label for="filiere" class="pb-3">Filière</label>
        <select 
            [(ngModel)]="module.filiere.id"
            name="filiere"
            class="form-control">
            <option 
            *ngFor="let filiere of filieres"
            [value]="filiere.id">{{ filiere.libelle }}</option>
        </select>
    </div>
    <div class="row pt-3">
        <div class="form-group col-4">
            <label for="dateDebut" class="pb-3">Date de début</label>
            <input 
            [(ngModel)]="module.dateDebut"
            type="date" 
            name="dateDebut"
            class="form-control" />
        </div>
        <div class="form-group col-4">
            <label for="dateDebut" class="pb-3">Date de fin</label>
            <input 
            [(ngModel)]="module.dateFin"
            type="date" 
            name="dateFin"
            class="form-control" />
        </div>
        <div class="form-group col-4">
            <label for="formateur" class="pb-3">Formateur</label>
            <select
            class="form-control" 
            name="formateur">
            <option 
                *ngFor="let formateur of formateurs" 
                [value]="formateur.id">{{ formateur.prenom + ' ' + formateur.nom}}</option>
            </select>
        </div>
    </div>
      <div class="form-group">
        <button 
          [disabled]="f.invalid"
          class="btn btn-success mt-3">Créer le module</button>  
      </div>
</form>
