<section>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <app-sous-menu></app-sous-menu>
      </div>
      <div class="col-md-9">
        <h3>
          Nos filières ({{ filieres.length }})
          <a *ngIf="role == 'GESTIONNAIRE'" 
            [routerLink]="['/filiere-form']"
            class="m-2 btn btn-primary btn-sm">Ajouter une filière</a>
        </h3>
        <table class="table">
          <thead>
            <tr>
              <th>Libellé</th>
              <th>Nb de modules</th>
              <th *ngIf="role == 'GESTIONNAIRE'" >Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let filiere of filieres">
              <td>{{ filiere.libelle }}</td>
              <td>{{ filiere.modules?.length }}</td>
              <td>
                <button *ngIf="role == 'GESTIONNAIRE'" 
                  (click)="onView(filiere.id)"
                  class="btn btn-sm btn-primary m-1">Voir</button>
                <button *ngIf="role == 'GESTIONNAIRE'"
                  (click)="onEdit(filiere.id)"
                  class="btn btn-sm btn-primary m-1">Modifier</button>
                <button *ngIf="role == 'GESTIONNAIRE'"
                  (click)="onDelete(filiere.id)"
                  class="btn btn-sm btn-danger">Supprimer</button>
              </td>
            </tr>
          </tbody>
        </table>
        <div 
          *ngIf="message" 
          class="alert alert-danger text-center" 
          role="alert"> 
          {{ message }}
        </div>
      </div>

    </div>
  </div>
</section>




