<div>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Nom</th>
            <th scope="col">Prénom</th>
            <th scope="col">Date de Naissance</th>
            <th  scope="col">Formation souhaitée</th>
          </tr>
        </thead>
        <tbody>
          <!-- TODO récupération des stagiaires en attente de validation filiere -->
          <tr *ngFor="let personne of personne">
            <td class="">{{ personne.nom }}</td>
            <td class="">{{ personne.prenom }}</td>
            <td class=""> {{personne.dateDeNaissance}}</td>
            <td class=""> {{personne.formation?.libelle}}</td>
          </tr>
        </tbody>
    </table>
</div>
