
<form (submit)="handleSubmit()" #f="ngForm">
    <div class="form-group pt-3 pb-3">
        <label for="libelle" class="pb-3">Libellé de la filière</label>
        <input
        [(ngModel)]="filiere.libelle"
        class="form-control col-12"
        placeholder="Nom de la filière"
        type="text"
        name="libelle">
    </div>
    <div class="form-group">
        <label for="formation" class="pb-3">Formation</label>
        <select 
            [(ngModel)]="filiere.formation.id"
            (change)="handleChange()"
            name="formation"
            class="form-control">
            <option 
            *ngFor="let formation of formations"
            [value]="formation.id">{{ formation.libelle }}</option>
        </select>
    </div>
    <div class="pt-5">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Nom</th>
                <th scope="col">Prénom</th>
                <th scope="col">Date d'inscription</th>
              </tr>
            </thead>
            <tbody>
              <!-- TODO récupération des stagiaires en attente de validation filiere -->
              <tr *ngFor="let personne of stagiaires;let indexOfelement=index;">
                <td class="">{{ personne.nom }}</td>
                <td class="">{{ personne.prenom }}</td>
                <td class=""></td>
                <td class="">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" (change)="checkChange($event,indexOfelement)">
                    <label class="form-check-label" for="flexCheckDefault"></label>
                </td>
              </tr>
            </tbody>
        </table>
        <button 
            class="btn btn-success"
            [disabled]="f.invalid">
            Créer une filière
        </button>
    </div>
</form>
