<div class="container mt-5">
    <div class="d-flex justify-content-center">
        <div class="card shadow-lg p-3 mb-5 bg-body rounded w-50" style="width: 18rem;">
            <div class="card-body">
                <h3>Welcome</h3>
                <form id ="accesspanel" action="login" class="mt-5">
                    <div class="inset pb-4">
                        <p>
                            <input 
                            type="text"
                            class="form-control mb-4" 
                            name="username" 
                            [(ngModel)] = "user.username"
                            id="username"
                            placeholder="username">
                        </p>
            
                        <p>
                            <input 
                            type="password"
                            class="form-control" 
                            name="password" 
                            [(ngModel)] = "user.password"
                            id="password"
                            placeholder="password">
                        </p>
            
                        <p *ngIf="logFailed !== '' " > {{logFailed}}    </p>
                    </div>
                    <div>
                        <p class="p-container d-flex justify-content-center">
                            <input type="submit" class="btn btn-success mb-2 w-50" name ="Login" id ="go" value="Login" (click)="doLogin()">
                        </p>
                    </div>
            
                    <div>
                        <p class="p-container d-flex justify-content-center">
                            <input type="submit" class="btn btn-success w-50" name ="inscription" id ="Formulaire" value="inscription" (click)="doInscription()" >
                        </p>
                    </div>
                </form>
            </div>
          </div>
    </div>
    
</div>

