<section>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
          <app-sous-menu></app-sous-menu>
      </div>
      <div class="col-md-9">
        <h3>
          Nos modules ({{ modules.length }})
          <a *ngIf="role == 'GESTIONNAIRE'" 
          [routerLink]="['/module-form']"
          class="m-2 btn btn-primary btn-sm">Ajouter un module</a>
        </h3>
        <table class="table">
          <thead>
            <tr>
              <th>Libellé</th>
              <th>Filière</th>
              <th *ngIf="role == 'GESTIONNAIRE' || role == 'FORMATEUR'">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let module of modules">
              <td>{{ module.libelle }}</td>
              <td>
                <a [routerLink]="['/filieres', module.filiere?.id]">
                  {{ module.filiere?.libelle }}
                </a>
              </td>
              <td>
                <button *ngIf="role == 'GESTIONNAIRE' || role == 'FORMATEUR'" 
                  (click)="onView(module.id)"
                  class="btn btn-primary btn-sm m-1">Voir</button>
                <button *ngIf="role == 'GESTIONNAIRE'" 
                  (click)="onEdit(module.id)"
                  class="btn btn-primary btn-sm m-1">Modifier</button>
                <button *ngIf="role == 'GESTIONNAIRE'" 
                  (click)="onDelete(module.id)"
                  class="btn btn-danger btn-sm">Supprimer</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</section>












