<div class="container mt-5 ">
  <div class="d-flex justify-content-center">
    <div class="card shadow-lg p-3 mb-5 bg-body rounded">
      <div class="card-body">
        <div class="row">
          <h3>{{actionText}} un module</h3>
          <form (submit)="handleSubmit()" #f="ngForm" class="m-auto">
            <div class="form-group pt-3">
              <label for="libelle">Libellé</label>
              <input 
                [(ngModel)]="module.libelle"
                required
                minlength="4"
                name="libelle" 
                type="text" 
                class="form-control" 
                placeholder="Nom du module">
            </div>
            <div class="form-group ">
              <label for="filiere">Filière</label>
              <select 
                [(ngModel)]="module.filiere.id"
                class="form-control" 
                name="filiere">
                <option 
                  *ngFor="let filiere of filieres" 
                  [value]="filiere.id">{{ filiere.libelle }}</option>
              </select>
            </div>
            <div class="form-group ">
              <label for="formateur">Formateur</label>
              <select
                class="form-control" 
                name="formateur">
                <option 
                  *ngFor="let formateur of formateurs" 
                  [value]="formateur.id">{{ formateur.prenom + ' ' + formateur.nom}}</option>
              </select>
            </div>
            <div class="row">
              <div class="form-group col-6">
              <label for="dateDebut">Date de début</label>
              <input 
                [(ngModel)]="module.dateDebut"
                type="date" 
                name="dateDebut"
                class="form-control" />
            </div>
            <div class="form-group col-6">
              <label for="dateDebut">Date de fin</label>
              <input 
                [(ngModel)]="module.dateFin"
                type="date" 
                name="dateFin"
                class="form-control" />
            </div>
            </div>
            
            <div class="form-group d-flex justify-content-center">
              <button 
                [disabled]="f.invalid"
                class="btn btn-sm btn-primary ">{{actionText}}</button>  
            </div>
          </form>
        </div>
        
      </div>
    </div>
  </div>
</div>






