<div class="form-card mt-5 rounded" *ngIf = "submit == false">
    <form [formGroup]="personneForm" > 
        <div class="form-group">
            <label for="nom">Nom</label>
            <input class="form-control" id="nom" type="text" formControlName="nom">
        </div>
        <div class="form-group">
            <label for="prenom">Prenom</label>
            <input class="form-control" id="prenom" type="text" formControlName="prenom">
        </div>
        <div class="form-group">
            <label for="email">Adresse mail</label>
            <input class="form-control" id="email" type="email" formControlName="email">
        </div>
        
        <div class="form-group">
            <label for="phone">Téléphone</label>
            <input class="form-control" id="phone" type="tel" formControlName="telephone">
        </div>
        <div class="form-group">
            <label for="datedenaissance">Date de naissance</label>
            <input class="form-control" id="datenaissance" type="date" formControlName="dateDeNaissance">
        </div>
        <div class="form-group">
            <label for="lieu">Lieu de résidence</label>
            <input class="form-control" id="lieu" type="text" formControlName="adresse">
        </div>
        <div class="row">
            <div class="form-group">
                <label class="col-6" for="formation">Choix de la formation</label>
                <select class="form-select" formControlName="formation">
                    <option value=0></option>
                    <option *ngFor="let formation of formations" value="{{formation.id}}">
                        {{formation.libelle}}
                    </option>
                </select>
            </div>
        </div>
        <div class="action-buttons">
            <button class="btn btn-success" type="submit" (click)="onSubmitForm()" [disabled]="personneForm.invalid">Enregistrer</button>
        </div>
    </form>
</div>

<div  class="form-card" *ngIf=" submit !== false">
    <h2>Bienvenue : </h2>
    <div *ngIf = "username !== '' ">
        <p>Votre Identifiant est : {{username}}</p>
        <p>Votre mot de passe est : {{password}}</p>
    </div>
</div>