
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <app-sous-menu></app-sous-menu>
            </div>
            <div class="col-md-9">
                <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#formation" type="button" role="tab" aria-controls="formation" aria-selected="true">Formations</button>
                    </li>
                    <li class="nav-item" role="presentation">
                    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#filiere" type="button" role="tab" aria-controls="filiere" aria-selected="false">Filières</button>
                    </li>
                    <li class="nav-item" role="presentation">
                    <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#module" type="button" role="tab" aria-controls="module" aria-selected="false">Modules</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#stagiaire" type="button" role="tab" aria-controls="stagiaire" aria-selected="false">Stagiaires</button>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="formation" role="tabpanel" aria-labelledby="home-tab">
                        <h4 class="ms-3 mt-2"><u class="col-12">Créer une formation</u></h4>
                        <app-formation></app-formation>
                    </div>
                    <div class="tab-pane fade" id="filiere" role="tabpanel" aria-labelledby="profile-tab">
                        <h4 class="ms-3 mt-2"><u class="col-12">Créer une filière</u></h4>
                        <app-gestion-formation-filiere></app-gestion-formation-filiere>
                    </div>
                    <div class="tab-pane fade" id="module" role="tabpanel" aria-labelledby="contact-tab">
                        <h4 class="ms-3 mt-2"><u class="col-12">Créer un module</u></h4>
                        <app-gestion-formation-module></app-gestion-formation-module>
                    </div>
                    <div class="tab-pane fade" id="stagiaire" role="tabpanel" aria-labelledby="contact-tab">
                        <h4 class="ms-3 mt-2"><u class="col-12">Liste des stagiaires</u></h4>
                        <app-gestion-formation-stagiaire></app-gestion-formation-stagiaire>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
