<div class="container mt-5 ">
    <div class="d-flex justify-content-center">
      <div class="card shadow-lg p-3 mb-5 bg-body rounded">
        <div class="card-body">
          <div class="row">
            <div class="form-card" *ngIf = "personne != null">
                <p>Nom: {{personne.nom}}</p>
                <p>Prenom: {{personne.prenom}}</p>
                <p>Email: {{personne.email}}</p>
                <p>Adresse: {{personne.adresse}}</p>
                <p>Téléphone: {{personne.telephone}}</p>
                <p>Date de naissance: {{personne.dateDeNaissance}}</p>
                <p *ngIf="personne.filiere != null && role=='STAGIAIRE'">Inscrit dans la filière:  {{personne.filiere}}</p>
                <p *ngIf="personne.formation != null && role=='STAGIAIRE'">Demande la formation: {{personne.formation.libelle}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

    
   








    
