<div class="list-group me-5">
    <a *ngIf="role != 'null'" class="list-group-item list-group-item-action shadow-lg rounded" [routerLink]="['/modules']">Modules</a>
    <a *ngIf="role == 'GESTIONNAIRE' || role == 'FORMATEUR'" href="#" class="list-group-item list-group-item-action shadow-lg rounded" [routerLink]="['/filieres']">Filières</a>
    <a *ngIf="role == 'GESTIONNAIRE'" href="#" class="list-group-item list-group-item-action shadow-lg rounded" [routerLink]="['/gestionFormation']">Gestion des formations</a>
    <a *ngIf="role != 'null'" href="#" class="list-group-item list-group-item-action shadow-lg rounded" [routerLink]="['/compte']">Mon compte</a>
    <a *ngIf="role != 'null'" href="" class="list-group-item list-group-item-action shadow-lg rounded" (click)="logout()">Déconnexion</a>
  </div>

